<div class="dashboard-container">

  <!-- <div class="dashboard-container col-12"> -->

    <div class="weekly-content">
      <h3> WEEK 1 </h3>
      <div class="cards-container dashboard">
        <% @weeks[33].each do |cont| %>
        <div class="card-content dashboard">
          <%= link_to content_path(cont[:imdbid]) do %>
          <img src="<%= cont[:image_url] %>" />
          <div class="card-content-info">
            <p> <%= cont[:expiration_date] %></p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>4
    </div>

    <div class="weekly-content">
    <h3> WEEK 2 </h3>
      <div class="cards-container dashboard">
        <% @week34.each do |cont| %>
        <div class="card-content dashboard">
          <img src="<%= cont[:image_url] %>" />
          <div class="card-content-info">
            <p> <%= cont[:expiration_date] %></p>
          </div>
        </div>
        <% end %>
    </div>
  </div>

    <div class="weekly-content">
    <h3> WEEK 3 </h3>
    <div class="cards-container dashboard">
        <% @week35.each do |cont| %>
        <div class="card-content dashboard">
          <img src="<%= cont[:image_url] %>" />
          <div class="card-content-info">
            <p> <%= cont[:expiration_date] %> </p>
          </div>
        </div>
        <% end %>
    </div>
    </div>

    <div class="weekly-content">
    <h3> WEEK 4 </h3>
    <div class="cards-container dashboard">
        <% @week36.each do |cont| %>
        <div class="card-content dashboard">
          <img src="<%= cont[:image_url] %>" />
          <div class="card-content-info">
            <p> <%= cont[:expiration_date] %> </p>
          </div>
        </div>
        <% end %>
    </div>
    </div>

</div>

