<div class="container title_description text-light">
  <div class="row justify-content-center py-3 my-5">
    <div class="col-12 col-lg-3">
      <div class="m-2 p-2">
        <img src="<%= @content[:image_url] %>" />
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="p-4">
        <h4 class="font-italic"><%= @content[:title] %></h4>
        <div class="d-flex justify-content-between pt-4">
          <p>Category: <%= @content[:category] %></p>
          <p>Genre: <%= @content[:genre] %></p>
          <p>Runtime: <%= @content[:runtime] if @content[:runtime].present? %></p>
        </div>
        <p class="pt-4">Plot:</p>
        <p><%= @content[:plot] %></p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center py-3 my-5">
    <div class="col-10">
      <%= link_to 'Go back', :back, class: "pl-3" %>
      <%#= link_to 'Share', '#', class:"btn btn-outline-light", id:"share-btn" %>
    </div>
  </div>
</div>




