<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="ml-4 pl-3">
        <%= link_to 'Go back', :back %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center py-3 my-5">
    <div class="col-12 col-lg-3">
      <div class="content_params-description m-2 p-2">
        <img src="<%= @content[:image_url] %>" />
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="p-4">
        <h4><%= @content[:title] %></h4>
        <p>Plot:</p>
        <p><%= @content[:plot] %></p>
        <div class="">
        </div>
        <div class="mt-4">
          <%= link_to 'Share', '#', class:"btn btn-outline-dark", id:"share-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>


