<div class="container text-light">
  <div class="row justify-content-center py-3 mt-5">
    <div class="col-12 col-lg-3">
      <div class="m-2 p-2 text-center">
        <img src="<%= @content.image_url %>" />
        <p class="pt-2 expiration-highlight">Expires on: <%= @content.expiration_date.strftime("%d/ %m/ %Y") %></p>
      </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="p-lg-4">
        <% if @content.title.present? %>
          <h4 class="font-italic"><%=h @content.title.gsub(/&amp;#39;/, "'").html_safe %></h4>
        <% end %>
        <div class="d-flex justify-content-between mt-3">
          <div class="d-flex">
            <div class="d-flex align-items-center">
              <%= image_tag "IMDb-icon.png", alt: "imdb logo" %>
              <p class="mb-0 pl-2"><%= @content.imdb_rating || 'N/A' %></p>
            </div>
            <div class="ml-4 d-flex align-items-center">
              <%= image_tag "netflix-icon.png", alt: "netflix logo" %>
              <p class="mb-0 pl-2"><%= @content.netflix_rating || 'N/A' %></p>
            </div>
          </div>

          <div>
            <% if @content.imdb_id == 'notfound' %>
              <%= link_to "Open on IMDb", "https://www.imdb.com/", target: "_blank", class:"btn btn-light btn-sm disabled"%>
            <% else %>
              <%= link_to "Open on IMDb", "https://www.imdb.com/title/#{@content.imdb_id.html_safe}", target: "_blank", rel: "no-follow", class:"btn btn-light btn-sm"%>
            <% end %>
            <%= link_to "Open on Netflix", "https://www.netflix.com/title/#{@content.netflix_id.html_safe}", target: "_blank", rel: "no-follow", class:"btn btn-light btn-sm"%>
            <%= link_to "Share", "#", class:"btn btn-light btn-sm", "data-toggle" => "modal", "data-target" => ".bd-example-modal-sm" %>
          </div>

          <div class="modal fade bd-example-modal-sm text-dark" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Share the news!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body py-4">
                  <h6 class="text-center pb-4"><%= @content.title %> is leaving Netflix 😲</h6>
                  <%= rails_social_share_button_tag ("Hey! The #{@content.category} #{@content.title} will leave Netflix on #{@content.expiration_date} 😲 If you want to be notified of titles leaving Netflix, sign up with #{request.base_url}!") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between pt-4">
          <% if @content.category.present? %>
            <p>Category: <%= @content.category %></p>
          <% end %>
          <% if @content.genre.present? %>
            <p>Genre: <%= @content.genre %></p>
          <% end %>
          <% if @content.runtime.present? %>
            <p>Runtime: <%= @content.runtime %></p>
          <% end %>
        </div>
        <% if @content.plot.present? %>
          <div class="text-overflow pt-4"><%=h @content.plot.gsub(/&amp;#39;/, "'") %></div>
          <%= link_to "Read more...", "#", class: "btn-overflow pt-1 font-italic" %>
        <% else %>
          <p>Sorry, we were not able to grab more information on this title.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h2 class="text-left ml-lg-5 border-bottom border-light pb-1">Cast & Crew</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="d-lg-flex justify-content-between ml-lg-5">
        <div>
          <h4 class="py-3">Actors</h4>
          <div>
            <% if @content.cast.present? %>
              <% if @content.cast[0]["actor"].present? %>
                <% @content.cast[0]["actor"].each do |actor| %>
                  <p class="pb-0"><%=h actor.gsub(/&amp;#39;/, "'") %></p>
                <% end %>
              <% else %>
                <p>N/A</p>
              <% end %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
        </div>
        <div>
          <h4 class="py-3">Creators</h4>
          <div>
            <% if @content.cast.present? %>
              <% if @content.cast[1]["creator"].present? %>
                <% @content.cast[1]["creator"].each do |creator| %>
                  <p class="pb-0"><%=h creator.gsub(/&amp;#39;/, "'") %></p>
                <% end %>
              <% else %>
                <p>N/A</p>
              <% end %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
        </div>
        <div>
          <h4 class="py-3">Directors</h4>
          <div>
            <% if @content.cast.present? %>
              <% if @content.cast[2]["director"].present? %>
                <% @content.cast[2]["director"].each do |director| %>
                  <p class="pb-0"><%=h director.gsub(/&amp;#39;/, "'") %></p>
                <% end %>
              <% else %>
                <p>N/A</p>
              <% end %>
            <% else %>
              <p>N/A</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @content.details.present? %>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-lg-10">
        <h2 class="text-left ml-lg-5 border-bottom border-light pb-1">Know more</h2>
      </div>
    </div>
  <% end  %>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="ml-lg-5">
        <% if @content.details.present? %>
          <% if @content.details["awards"].present? %>
            <div class="pt-3">
              <p><i class="fas fa-trophy pr-4 show-icon"></i> <%= @content.details["awards"].split('.')[0] %></p>
            </div>
          <% end %>
          <% if @content.details["origin"].present? %>
            <div class="pt-2">
              <p><i class="fas fa-flag pr-4 show-icon"></i> <%= @content.details["origin"] %></p>
            </div>
          <% end %>
          <% if @content.details["language"].present? %>
            <div class="pt-2">
              <p><i class="fas fa-language pr-3 show-icon"></i> <%= @content.details["language"] %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5 mb-3">
    <div class="col-12 col-lg-10">
      <%= link_to 'Go back', :back, class: "btn btn-light btn-sm ml-lg-5" %>
    </div>
  </div>
</div>

