<div class="container-access">
  <h2>EDIT <%= resource_name.to_s.humanize.upcase %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  disabled: true,
                  required: false,
                  input_html: { autocomplete: "new first_name" } %>
      <%= f.input :last_name,
                  disabled: true,
                  required: false,
                  input_html: { autocomplete: "new last_name" } %>


      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :country,
                  as: :select,
                  collection: FetchTitlesService.new.user_countries,
                  label_method: :last,
                  value_method: :first,
                  required: true,
                  input_html: { } %>

      <%= f.input :current_password,
                  hint: "we need your current password to confirm any changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update", class: "btn btn-dark my-4" %>
    </div>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to 'Go back', :back, class: "mt-lg-5" %>
</div>
