<div class="email-container">

  <div>
    <img src="https://res.cloudinary.com/mrbean/image/upload/v1583510060/samples/outflix/logo_email_ynvx59.png" style="width:300px">
  </div>

  <div>
    <h2>Hi, <%= @user.first_name.capitalize %>  <%= @user.last_name.capitalize %>! </h2>
    <h3>Check out the titles leaving Netflix in the next few weeks!</h3>
  </div>

  <div>
    <table>
      <tbody>
        <% @weeks.each do |week| %>
          <tr><td colspan="4"> <%= (Date.commercial(2020, week[0]).strftime("%A, %d/%m"))%> - <%= ((Date.commercial(2020, week[0]) + 6).strftime("%A, %d/%m"))%></td></tr>
          <% week.last.each_slice(4) do |titles| %>
          <tr>
            <% titles.each do |content| %>
            <td>
              <div class="email-card email-grid">
                <img src="<%= content.image_url %>" />
                <div class="email-card-info">
                  <p><%= content.expiration_date %></p>
                </div>
              </div>
            </td>
            <% end %>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div>
      <%= link_to "Go to the Outflix website!", root_url %>
    </div>

  </div>
</div>

<style>
  .email-container {
    text-align: center;
    font-family: Oswald, sans-serif;
    width: 70%;
    margin: 35px auto;
  }

  table{
    margin: auto;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    padding: 20px 0 20px 30px;
    margin-bottom: 0px;
  }

  .email-card-info p {
    text-align: center;
    margin: 0 auto 20px;
   }
</style>
