<div class="container-access">
  <h2> Notifications Preferences</h2>

  <%= simple_form_for current_user, url: notification_path(current_user) do |f| %>
    <%= f.error_notification %>

    <div class="notifications">
      <%= f.input :frequency, selected: current_user[:frequency], collection: ['Weekly', 'Monthly', 'Demo - deliver now'], label: "How often would you like to be notified?" %>
      <%= f.input :medium, selected: current_user[:medium], collection: ['Email', 'Text'], label: "How would you like to be notified?" %>
    </div>

  <div class="access-button mt-4">
    <%= f.submit "Save", class: "btn btn-dark" %>
  </div>
  <% end %>
</div>
