<div class="container-access">
  <h2> Notifications Preferences</h2>

  <%= simple_form_for current_user, url: notification_path(current_user) do |f| %>
    <%= f.error_notification %>

    <div class="notifications">
      <%= f.input :frequency, selected: current_user[:frequency], collection: ['Weekly', 'Monthly', 'Demo - deliver now'], label: "How often would you like to be notified?" %>
      <%= f.input :medium, selected: current_user[:medium], collection: ['Email', 'Text'], label: "How would you like to be notified?" %>
      <%= f.input :phone_number, label: "Phone Number", wrapper_html: { class: current_user.medium == 'Text' ? '' : 'd-none' } %>
    </div>

    <div class="access-button mt-4">
      <%= f.submit "Save", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<script>
  const how = document.getElementById('user_medium')
  how.addEventListener('change', (event) => {
    const phoneField = document.querySelector('.user_phone_number');

    if (event.target.value === 'Email') {
      phoneField.classList.add('d-none');
    } else {
      phoneField.classList.remove('d-none');
    }
  });
</script>
